.main-header{
    margin-top: 100px;
    height:200px;
    width: 1500px;
    background:url(../images/bannerclac.jpg) no-repeat center bottom
}

.logo{
    margin-top: 10px;
    @include span(2);
    img{
        max-width:100%
    }

}

